<!DOCTYPE html>
<html ng-app='twit.erApp'>
<head>
  <title>SimpleTwitEr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>Twit.er
<nav id='general'>
</nav>
<nav id='user'>
  <%= render 'layouts/user_navigation' %>
</nav>
</header>
<div id='notifications'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<%= yield %>

</body>
</html>
