<!DOCTYPE html>
<html ng-app='tApp'>
<head>
  <title>SimpleTwitEr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div>Twit.er</div>
  <span>
    <nav id='general'></nav>
	<nav id='user'>
      <%= render 'layouts/user_navigation' %>
    </nav>
  </span>
</header>
<div id='notifications'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div id="contentWrapper">
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
