<!DOCTYPE html>
<html ng-app='twit.erApp'>
<head>
  <title>SimpleTwitEr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
